{% extends "layout.html" %}
{% block bar %}
    <div class="content-section">
        <div class="container mt-3 mb-4">
            {#                <h2>目录</h2>#}
            <ul class="nav nav-pills flex-column" role="tablist">
                <li class="nav-item ">
                    <a class="nav-link  " data-bs-toggle="pill" href="{{ url_for('diagnosis') }}">输入信息</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="pill"
                       href="{{ url_for('redirect_prescription') }}">临床信息上传</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " data-bs-toggle="pill" href="{{ url_for('account') }}">诊断结果</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " data-bs-toggle="pill"
                       href="{{ url_for('redirect_detail') }}">预后分析</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="pill" href="{{ url_for('redirect_prescription') }}">诊疗建议</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block content %}
    <form>
        <p for="myfile">请上传Excel表格</p>
        <input class="mb-4" type="file" id="" name="excel"><br>
        <input class="btn btn-outline-primary" type="submit" id="" name="请提交"><br>
    </form>
{% endblock content %}
