{% extends "layout.html" %}

{% block bar %}
    <div class="content-section">
        <div class="container mt-3 mb-4">
            {#                <h2>目录</h2>#}
            <ul class="nav nav-pills flex-column" role="tablist">
                <li class="nav-item ">
                    <a class="nav-link  text-dark" data-bs-toggle="pill" href="{{ url_for('diagnosis') }}">输入信息</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  text-dark" data-bs-toggle="pill" href="{{ url_for('excel') }}">临床信息上传</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link  text-dark" data-bs-toggle="pill" href="{{ url_for('account') }}">诊断结果</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-dark" data-bs-toggle="pill"
                       href="{{ url_for('redirect_detail') }}">预后分析</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  bg-steel text-light" data-bs-toggle="pill"
                       href="{{ url_for('redirect_prescription') }}">诊疗建议</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">

        <div class="row">
            <div id="advise" class="h1 mb-5 mt-5">诊疗建议</div>

            <div class="align-items-center">
                {% for i in lst %}
                    <p>{{ i }}</p>
                {% endfor %}
            </div>
        </div>


    </div>

    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->


{% endblock content %}
